$color-theme:#bbbdc0;

body {
  background-image: linear-gradient(to top right, #010202, #26292d);
  color: white;
  font-family: 'VT323', monospace;
  font-size: 25px;
  margin: 80px 0;
}

.chatbar {
  background: $color-theme;
  // border-top: 1px solid black;
  bottom: 0;
  display: flex;
  left: 0;
  padding: 5px;
  position: fixed;
  right: 0;
  border: 3px;
  border-style: outset;
  border-color: #898b8c  #c0c0c0;

}

.chatbar-message,
.chatbar-username {
  // border: 1px solid black;
  display: inline;
  height: 40px;
  line-height: 40px;
  margin: 5px;
  padding: 0 9px;
  border: 3px;
  border-style: outset;
  border-color: #898b8c  #c0c0c0;
}

form {
  width: 100%;
}

.chatbar-message {
  flex: 8;
  width: 80%;
}

.chatbar-username {
  flex: 2;
  width: 15%;
}

.message {
  display: flex;
  padding: 5px;
}

.message.system {
  font-style: italic;
  padding: 5px 20px;
}

.message-content,
.message-username {
  overflow: hidden;
  margin: 5px;
  padding: 0 10px;
}

.message-content {
  flex: 8;
}

.message-username {
  flex: 2;
  font-weight: 700;
}

.navbar {
  background: $color-theme;
  // border-bottom: 1px solid black;
  height: 66px;
  left: 0;
  padding: 0 10px;
  position: fixed;
  right: 0;
  top: 0;
  border: 3px;
  border-style: outset;
  border-color: #898b8c  #c0c0c0;
}

.navbar-brand {
  display: block;
  float: left;
  font-weight: 700;
  font-size: 42px;
  height: 60px;
  line-height: 60px;
  padding: 0 10px;
  text-decoration: none;
  font-family: 'Permanent Marker', cursive;
  color: black;
}

.navbar img {
  height: 69px;
  width: 74px;
}

h1 {
  color: $color-theme;
}

.zizek {
  float: right;
  width: 600px;
  margin-top: -20px;
}

